/* MOBILE */
@media only screen and (max-width: 1000px) {
    body, html {
      background-color:#FEFFFF;
      -webkit-tap-highlight-color:rgba(255,255,255,0);
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Chrome and Opera */
    }

    .block {
      width: 675px;
      margin: 0 auto;
      padding: 10px;
      box-shadow: 0px 0px 5px #CCC;
    }

    .line {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 8px;
      color: #333;
    }
}


/* DESKTOP */
@media only screen and (min-width: 1001px) {
    body, html {
      background-color:#FEFFFF;
      -webkit-tap-highlight-color:rgba(255,255,255,0);
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Chrome and Opera */
      cursor: default;
    }

    .block {
      width: 950px;
      margin: 0 auto;
      padding: 10px;
    }

    .block:hover .emphasis {
      font-style: italic;
    }

    .block:hover {
      background-color: #FDF8DF;
      /*box-shadow: 0px 0px 5px #CCC;*/
    }

    .line {
      width: 950px;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 20px;
      color: #333;
    }

    .line:hover {
      color: #0921EA;
      background-color: #F5BA2F;
    }
}