 @import url(https://fonts.googleapis.com/css?family=Nunito);
 * {
   box-sizing: border-box;
}
body,html{
  background-color:#FEFFFF;
  font-family:Nunito,sans-serif;
  font-size:26px;
  -webkit-tap-highlight-color:rgba(255,255,255,0)
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.wrapper{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  text-align:center;
  position: relative;
  width: 3000px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#nav{
  list-style-type:none;
  margin:0;
  margin-top:6vh;
  padding:0
}

#nav.touched{
  margin-top:4vh
}

#nav,
#nav li{
  -webkit-transition-duration:.2s;
  transition-duration:.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none
}

#nav li{
  cursor:pointer;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  margin:auto;
  margin-top:8vh
}

#nav.touched li{
  margin-top:4vh
}

li.active{
  font-weight:700;
  font-size:30px
}

.media_container {
    flex-direction: row;
    display: inline-flex;
    padding-bottom: 5%;
    align-items: center;
  }

.container {
  position: relative;
  padding-left: 11px;
  padding-right: 11px;
  width: 50%;
  display: table; 
}

.demo_media {
  opacity: 0;
  display: block;
  width: auto;
  height:300px;
}

.overlay {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height:100%;
  background-color: #FEFFFF;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.surprise{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: .3s ease;
}

.surprise_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 400px;
  width: 250px;
  height: 250px;
}

.surprise_container:hover .surprise{
  opacity: 0;
}

.container:hover .overlay {
  opacity: 0.8;
}

.content{
  font-size:20px;
  line-height:1.5;
  margin:0 12vw;
  padding-bottom:8vh
}

.resume-link{
  margin:auto;
  margin-top:0;
  margin-bottom:4vh
}

hr{
  margin:6vh auto;
  max-width:95vw
}

a:active,a:hover,a:link,a:visited{
  color:#282F2D;
  text-decoration:none;
  cursor:pointer
}

@media screen and (min-width:500px){
  hr{
    max-width:500px
  }

  #nav li:hover{
    font-size:30px
  }

  .content{
    margin:0 auto;
    max-width:700px
  }

  .demo-link:hover,
  .project-link:hover,
  .resume-link:hover{
    text-decoration:underline
  }
}

.parallax {
  perspective: 100px;
  height: 99.9vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
  z-index: 0
}
 
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.parallax__layer img {
  height: 910px;
  width: 3000px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.parallax__cover {
  background: #FEFFFF;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 800px;
  z-index: 0;
}

.parallax__layer__0 {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: 1500px;
  transform: translateZ(-150px) scale(.1);
}

.parallax__layer__1 {
  transform: translateZ(-125px) scale(1.75);
}

.parallax__layer__2 {
  transform: translateZ(-100px) scale(1.6);
}

.parallax__layer__3 {
  transform: translateZ(-75px) scale(1.45);
}

.parallax__layer__4 {
  transform: translateZ(-50px) translateX(67px) scale(1.3);
}

.parallax__layer__5 {
  transform: translateZ(-25px) scale(1.15);
}

.parallax__layer__6 {
  transform: translateZ(0px) scale(1);
}
 